* {
    box-sizing: border-box;
}

*::selection {
    background-color: lightsalmon;
}

body {
    background-color: wheat;
    margin: 0 auto;
}

main {
    padding-top: 45px;
}

nav {
    border-bottom: darkred solid 2px;
    position: fixed;
    width: 100%;
    background-color: wheat;
    z-index: 1;
}

nav a {
    color: darkred;
    font-size: 26px;
    margin: 5px 10px 5px;
    display: inline-block;
    text-decoration: none;
}

nav a:visited, nav a:link {
    color: darkred;
}

.line {
    border-bottom: slategray dashed 2px;
    cursor: text;
}

.line:focus-within {
    border-bottom: darkred dashed 2px;
}

input {
    border: none;
    font-size: 24px;
    background-color: transparent;
    width: 400px;
    margin-left: 10px;
}

input.done {
    color: slategray;
    text-decoration: line-through;
}

input:focus {
    outline: none;
}

.tag-button {
    color: slategray;
    margin: 0 5px;
    cursor: pointer;
}

.tag-button.active {
    color: darkcyan;
}

.tag-button.filtered {
    color: darkred;
}

form {
    display: inline;
}