body {
    background-color: wheat;
}

a {
    color: darkred;
    font-size: 26px;
    margin: 0 10px 20px;
    display: inline-block;
    text-decoration: none;
    border-bottom: darkred dashed 2px;
}

a:visited, a:link {
    color: darkred;
}

input {
    border: none;
    border-bottom: darkcyan dashed 2px;
    font-size: 24px;
    background-color: transparent;
    width: 400px;
    margin-left: 10px;
}

input.done {
    color: slategray;
    text-decoration: line-through;
}

input:focus {
    outline: none;
    border-bottom: darkred dashed 2px;
}

.tag-button {
    color: slategray;
    margin: 0 5px;
    cursor: pointer;
}

.tag-button.active {
    color: darkcyan;
}

.tag-button.filtered {
    color: darkred;
}

form {
    display: inline;
}