* {
    box-sizing: border-box;
}

*::selection {
    background-color: lightsalmon;
}

body {
    background-color: wheat;
    margin: 0 auto;
    font-family: 'Indie Flower', cursive;
}

main {
    padding-top: 50px;
    margin: 0 5px 5px;
}

nav {
    border-bottom: darkred solid 2px;
    position: fixed;
    width: 100%;
    background-color: wheat;
    z-index: 1;
}

nav a {
    color: darkred;
    font-size: 26px;
    margin: 5px 10px 5px;
    display: inline-block;
    text-decoration: none;
}

nav a:visited, nav a:link {
    color: darkred;
}

nav a.active {
    text-decoration: underline;
}

.line {
    border-bottom: slategray dashed 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 3px;
}

.line:focus-within {
    border-bottom: darkred dashed 2px;
}

form {
    margin: 0;
}

form:nth-child(1) {
    width: 100%;
}

input {
    border: none;
    font-size: 24px;
    background-color: transparent;
    width: 100%;
    margin-left: 5px;
    font-family: 'Indie Flower', cursive;
}

input.done {
    color: slategray;
    text-decoration: line-through;
}

input:focus {
    outline: none;
}

.tag-button {
    color: slategray;
    margin: 0 5px;
    cursor: pointer;
    white-space: nowrap;
}

.tag-button.active {
    color: darkcyan;
}

.tag-button.filtered {
    color: darkred;
}

form {
    display: inline;
}