a {
    color: darkred;
    font-size: 30px;
    margin: 10px 10px 20px;
}

a:visited, a:link {
    color: darkred;
}

input {
    border: none;
    border-bottom: darkcyan solid 2px;
    font-size: 24px;
}

input.done {
    color: lightgray;
    text-decoration: line-through;
}

input:focus {
    outline: none;
    border-bottom: darkred solid 2px;
}

.tag-button {
    color: gray;
    margin: 0 5px;
    cursor: pointer;
}

.tag-button.active {
    color: darkcyan;
}

.tag-button.filtered {
    color: darkred;
}

form {
    display: inline;
}